<% if user_signed_in? %>
  <%if current_user.rol=="Profesor"%>
	<div class="container">
		<h1> Activar preguntas </h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<td><b>Enunciado pregunta</b></td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>e
			<% @questions.each do |question| %>
					<tr>
						<td><%= question.enunciado %></td>
						<td id= '<%= question.id%>'><%= button_to "Activar pregunta", "#", class: "activeQuestion", id: question.id , remote: true, onclic: 'desactiveButtons' %> </td>	
						<td id= '<%= question.id%>'><%= button_to "Desactivar pregunta", "#", class: "desactiveQuestion", id: question.id+1, remote: true %> </td>
						<td> <%= button_to 'Crear grupos', creargrupo_path , id: question.id, class: "crearGrupo" , remote: true %></td>
							<tr>
								<td></td>
								<td></td>
								<td><%= button_to 'Ver resultados',"#", class: "viewResult", id: question.id, remote: true %></td>
								<td></td>
							</tr>
					</tr>
			<%end%>		
			</tbody>
		</table>
	</div>


	<script type="text/javascript">


	$(".activeQuestion").click(function(){
		console.log("ENTRE A ACTIVAR EN JSON.")
		$.ajax({
			type: 'POST',
			url: "<%= activarpregunta_path %>",
			data: {idEvaluation: "<%= @idEvaluation%>", idPregunta: this.parentElement.parentNode.attributes.id.value },
			dataType: 'json',
			success: {status: "ok"}
		});
	});


	$(".desactiveQuestion").click(function(){
		console.log("Entre a desactivar");
		$.ajax({
			type: 'POST',
			url: "<%= desactivarpregunta_path %>",
			data: {idEvaluation: "<%= @idEvaluation%>", idPregunta: this.parentElement.parentNode.attributes.id.value },
			dataType: 'json',
			success: {status: "ok"}
		});
	});

	$(".crearGrupo").click(function(){
		console.log("Creando grupos");
		$.ajax({
			type: 'POST',
			url: "<%= creargrupo_path %>",
			data: {idEvaluation: "<%= @idEvaluation%>", idPregunta: this.id },
			dataType: 'json',
			success: {status: "ok"}
		});
	});

	$(".viewResult").click(function(){
		console.log(this.id);
		$.ajax({
			type: 'POST',
			url: "<%= viewresult_path %>",
			data: {idEvaluation: "<%= @idEvaluation%>", idPregunta: this.id },
			dataType: 'json',
			success: {status: "ok"}
		}).done(function(data){
			alert("A:"+data.a+ " B:"+data.b+ " C:"+data.c + " D:"+data.d);
		});
	});

	</script>
 <%else%>
 <h1><center>No tiene los permisos necesarios.</center></h1>
  <%end%>
<%else%>
  <h1>Debe iniciar sesión</h1>
<%end%>