
<div class="container">
<% if user_signed_in? %>
  <%if current_user.rol=="Profesor"%>
    <h1>Nueva evaluación</h1>
    <%= form_with(model: @evaluation, local: true) do |form| %>
      <% if @evaluation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

          <ul>
          <% @evaluation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <table>
      <tr>
      <div class="field">
        <td><%= form.label :objetivo %></td>
        <td><%= form.text_area :objetivo, id: :evaluation_objetivo, class: 'form-control'%></td>
      </div>
      </tr>
      <tr>
      <div class="field">
        <td><%= form.label :fecha %></td>
        <td><%= form.date_select :fecha, id: :evaluation_fecha , class: 'form-control' %></td>
        <td>
      </div>
      </tr>
      <tr>
      <div class="field">
        <td><h2>seleccione Curso </h2></td>
        <td><%= form.select "course_id", options_from_collection_for_select(@courses, "id", "descripcion") %> </td>
        <td>
      </div>
      </tr>
      
      <div class="field">
      <tr>
      <td>
       <p><h2>Seleccione las preguntas </h2></p> 
        
          <% @question.each do |c| %>
          <tr>
          <td>
              <%= check_box_tag "questions[]", c.id %><%= label_tag(:questions, c.enunciado) %>
          </td>
        </tr>
          <%end%>
        
        </td>
      </tr>
      </div>
      </table>
      <div class="actions">
        <%= form.submit "Crear evaluación" , class: "btn btn-primary"  %>
      </div>
    <%end%>
  <%else%>
    <h1><center>No tiene los permisos necesarios.</center></h1>
<%end%>
<%else%>
  <h1>Debe iniciar sesión</h1>
<%end%>
