<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Propósitos</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Rda específicos</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @purposes.each do |purpose| %>
        <tr>
          <td><%= purpose.descripcion %></td>
          <td><%= purpose.rda_especific.descripcion %></td>
          <td><%= link_to 'Mostrar', purpose %></td>
          <td><%= link_to 'Editar', edit_purpose_path(purpose) %></td>
          <td><%= link_to 'Eliminar', purpose, method: :delete, data: { confirm: '¿Está seguro?, la acción es completamente irreversibles. Borrando todas las preguntas que dependan de este propósito' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo propósito', new_purpose_path %>
</div>