<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Programas</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Autor</th>
        <th>Descripcion</th>
        <th>Fecha</th>
        <th>RDA</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @programs.each do |program| %>
        <tr>
          <td><%= program.nombre %></td>
          <td><%= program.autor %></td>
          <td><%= program.descripcion %></td>
          <td><%= program.fecha %></td>
          <td>
          <%@rdaNombre = "No posee RDA asociado"%>
          <% @rdag.each do |rda| %>
            <%if rda.program_id == program.id %>
              <%@rdaNombre = rda.descripcion%>
            <% end %>
          <% end %>
          <%=@rdaNombre%>
          </td>
          <td><%= link_to 'Editar', edit_program_path(program) %></td>
          <td><%= link_to 'Eliminar', program, method: :delete, data: { confirm: 'Está seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

<%= link_to 'Agregar un programa', new_program_path %>
</div>