<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Resultados de aprendizaje - Específicos </h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Rda general</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @rda_especifics.each do |rda_especific| %>
        <tr>
          <td><%= rda_especific.descripcion %></td>
          <td><%= rda_especific.rda_general.descripcion %></td>
          <td><%= link_to 'Editar', edit_rda_especific_path(rda_especific) %></td>
          <td><%= link_to 'Eliminar', rda_especific, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo Rda Específico', new_rda_especific_path %>
</div>