<div class="container">

		<%= form_tag guardarcurso_path do |form| %>
			<div class="field">
			      <h3>Nombre curso:</h3>
			      <%= text_field :nombre, id: :course_nombre , class: 'form-control'%>
		    </div>
		    <div class="field">
		    	<%= form_tag import_users_path, multipart: true do %>
		    	<%= file_field_tag :file %>
		    	<%end%>
		    </div>
		    <%= submit_tag "Crear curso" %>
		<%end%>
    
</div>