<% if user_signed_in? %>
  <%if current_user.rol=="Profesor"%>
<div class="container">
<div class="media">
<div class="media-body">
		<%= form_tag guardarcurso_path, multipart: true do |form| %>
			<div class="field">
			      <h3>Nombre curso:</h3>
			      <%= text_field_tag :nombre%>
		    </div>
		
		    <div class="field">
		    	<h5> Seleccione programa asociado al curso </h5>
		    	<%= select_tag "program_id", options_from_collection_for_select(@programs, "id", "nombre") %> 
		    </div>

		    <div class="field">
		    	<%= file_field_tag :file %>		    	
		    	<%= submit_tag "Crear curso" %>
		    </div>
		<%end%>
</div>
</div>
    
</div>
  	  <%else%>
  <h1><center>No tiene los permisos necesarios.</center></h1>
  <%end%>
<%else%>
  <h1>Debe iniciar sesión</h1>
<%end%>