<!DOCTYPE html>
<html>
  <head>
    <title>Hermione</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Hermione Project</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
    
  </head>
  <body>
   	
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Inicio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarsExampleDefault" >
        <ul class="navbar-nav mr-auto">
         <!-- <li class="nav-item active">
            <a class="nav-link" href="/evaluations">Evaluaci贸n <span class="sr-only">(current)</span></a>
          </li>-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Evaluaci贸n</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href=/active>Activar evaluaci贸n</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrar</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href=/programs>Programa</a>
              <a class="dropdown-item" href=/rda_generals>Rda general</a>
              <a class="dropdown-item" href=/rda_especifics>Rda Especifico</a>
              <a class="dropdown-item" href=/purposes>Proposito</a>
              <a class="dropdown-item" href=/questions>Pregunta</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <%= csrf_meta_tags %>
              <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
              <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
                  <p class="navbar-text pull-right">
              <% if user_signed_in? %>
                  Logged in as <strong><%= current_user.email %></strong>.
                <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
              <% else %>
                <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
                <%= link_to "Iniciar sesi贸n", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>       
        </form>
      </div>
    </nav>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
 	<br>
  <%= yield %>
  </body>
</html>
